#hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  padding-top: 72px;
  background-image: url("../assets/pattern_hero.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media only screen and (max-width: 767px) {
    height: 75vh;
  }

  @media only screen and (min-width: 768px) {
    height: 90vh;
    padding-top: 72px;
  }

  * {
    font-family: "Inter";
    text-align: center;
  }

  .content_wrapper_hero {
    .title {
      font-family: "Crimson Pro";
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      margin-top: 0;
      margin-bottom: 35px;
      color: #111827;

      @media only screen and (min-width: 768px) {
        font-size: 72px;
        line-height: 80px;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    .description {
      display: none;

      @media only screen and (min-width: 768px) {
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #6b7280;
        margin-bottom: 40px;
      }
    }

    .get_started_hero_button {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: white;
      background-color: #4c35de;
      border-radius: 12px;
      padding: 16px 24px;
      text-decoration: none;
      border: 2px solid #4c35de;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: #4c35de;
        background-color: white;
      }
    }
  }

  .input_wrapper {
    position: relative;
    margin-top: 70px;
    box-shadow: 0px 0px 0px 6.000000476837158px #4c35de29;
    border-radius: 12px;

    .icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 20px;
    }

    #input_user {
      padding: 10px 0;
      border-radius: 12px;
      border: 2px solid #4c35de;
      width: 400px;
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      color: #6b7280;
      text-align: start;
      padding-left: 40px;

      &::placeholder {
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        color: #6b7280;
        text-align: start;
      }
    }
  }

  .image_wrapper {
    position: relative;
    opacity: 1;
    transition: all ease-in-out 0.2s;

    @media only screen and (min-width: 768px) {
      opacity: 0;
    }

    &.show {
      opacity: 1;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to top, #ffffff8e, transparent);
      background-size: 100% 100%, auto;
      background-repeat: no-repeat, repeat-y;
      z-index: 1000;
    }

    .options {
      @media only screen and (max-width: 767px) {
        max-width: 550px;
      }
    }
  }
}
